button{
	text-align: center;
	color: white;
	background-color: #008CBA;
	border: none;
	font-size: 48px;
	padding: 50px 56px;
	border-radius: 20px;
	vertical-align: middle;
	margin-left: 120px;
	margin-right: 120px;
	font-weight: bold;
	transition-duration: 0.4s;
}

button:hover {
    background-color: white; /* Green */
    color: #008CBA;
    border: 1px solid black;
}